<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Edit</title>
  </head>
  <body>
        <form action="/***/<%=index%>?_method=PUT" method="POST">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" autocomplete="off" value="<%=***.name%>" />
          <label for="img">Image URL: </label>
          <input type="text" name="img" id="img" autocomplete="off" value="<%=***.img%>" />
          <input type="submit" value="Edit" />
        </form>
      <a href="/***">Back</a>
  </body>
</html>
