<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles/style.css">
    <title>Edit</title>
  </head>
  <body>
        <div class="header">
          <div>
            <a class="header-link" href="/saltbae/"> Home </a>
            <a class="header-link" href="/saltbae/new"> New </a>
            <a class="header-link" href="/saltbae/history"> Archive </a>
        
          </div>
          Hi, <%=currentUser.userName%>
        </div>
    <div class="container">
      <h1>Interview</h1>
      <form action="/saltbae/<%=project._id%>/interview?_method=PUT" method="POST" class="edit-project">

        <div>
        <input class="edit-input" type="checkbox" name="useful"> <label for="useful">Was this useful?</label> 
        </div>
        <div>
        <input class="edit-input" type="checkbox" name="interrupted">  <label for="interrupted">Were you interrupted?</label> 
        </div>
        
        <label for="comments">Comments:</label>
        <textarea class="interview-text"  name="comments"  rows="8" cols="50"  maxlength="200" placeholder="200 char max" style="color: black"></textarea>
        <input class="edit-project-submit-button" type="submit" name="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
