<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles/style.css">
    <title>Edit</title>
  </head>
  <body>
    <div class="container">
      <h1>Interview</h1>
      <form action="/saltbae/<%=project._id%>/interview?_method=PUT" method="POST" class="edit-project">
        <label for="useful">Was this useful? <input class="edit-input" type="checkbox" name="useful"></label>
        <label for="interrupted">Were you interrupted?   <input class="edit-input" type="checkbox" name="interrupted"></label>
        <label for="comments">Comments:</label>
        <textarea name="comments" rows="8" cols="80" maxlength="200" placeholder="200 char max" style="color: black"></textarea>
        <input class="edit-project-submit-button" type="submit" name="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
