<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <script src="app.js" charset="utf-8"></script>
        <title></title>
    </head>
    <body>
          <ul>
            <% for (let i = 0; i < ***.length; i++) { %>
            <li>
              <a href="/***/<%=i%>">
                <%=***[i].name%>
              </a>
              <form action="/***/<%=i%>?_method=DELETE" method="POST">
                  <input class="button" type="submit" value="Remove">
                </form>
            </li>
            <% } %>
          </ul>
          <a href="/***/new">New</a>
      </body>
</html>
