<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
    <link rel="stylesheet" href="/public/styles/style.css">
  </head>
  <body>
    <div class="header">
      <div>
        <a class="header-link" href="/saltbae/"> Home </a>
        <a class="header-link" href="/saltbae/history"> Archive </a>

      </div>
      Hi, <%=currentUser.userName%>
    </div>
    <div class="container">
    <h1>New Project: </h1>
    <div class="tasks">
        <form action="/saltbae" method="post" class="new-project">
          <input type="text" name="name" value="Pomodoro" hidden>
          <input type="text" name="timer" value="25" hidden>
          <input class="task-button" type="submit" value="Pomodoro" />
        </form>
        <form action="/saltbae" method="post" class="new-project">
          <input type="text" name="name" value="Short Break" hidden>
          <input type="text" name="timer" value="5" hidden>
          <input class="task-button" type="submit" value="Short Break" />
        </form>
        <form action="/saltbae" method="post" class="new-project">
          <input type="text" name="name" value="Long Break" hidden>
          <input type="text" name="timer" value="15" hidden>
          <input class="task-button" type="submit" value="Long Break" />
        </form>
    </div>
    <br>
    <br>

    </div>
  </body>
</html>
