<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
    <link rel="stylesheet" href="/public/styles/style.css">
  </head>
  <body>
    <div class="container">
    <h1>Welcome!</h1>
    <form action="/saltbae/user" method="post" class="new-project">
      <input type="text" name="userId" placeholder="User ID"> <br>
      <input type="text" name="userName" placeholder="Name"> <br>
      <input type="password" name="password" placeholder="Password" style="color: black" ><br>
      <input type="submit" value="Submit" />
    </form>
    <a href="/saltbae">Cancel</a>
    </div>
  </body>
</html>
