<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
    <link rel="stylesheet" href="/public/styles/style.css">
  </head>
  <body>
    <div class="container">
    <h1>Welcome!</h1>
    <h4>Please login:</h4>
    <form action="/saltbae/login" method="post" class="new-project">
      <input type="text" name="userId" placeholder="Email Address"> <br>
      <input type="password" name="password" placeholder="Password" style="color: black" ><br>
      <input type="submit" value="Login" />
    </form><br>
    <a href="/saltbae/register">Register</a>
    </div>
  </body>
</html>
