<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
    <link rel="stylesheet" href="/public/styles/style.css">
  </head>
  <body>
    <h1>New</h1>
    <form action="/saltbae" method="post">
      <input type="text" name="name" value="Project">
      <input type="text" name="timer" value="25">
      <input type="submit" value="Submit">
    </form>
    <a href="/saltbae">Cancel</a>
  </body>
</html>
