<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>New</h1>
    <form class="" action="/saltbae" method="POST">
      <label for="name">Name:<input type="text" name="name" value="project name"></label>
      <label for="timer">Time: 25 seconds
        <!-- <select name = "timer">
          <option value = "25" selected>25</option>
          <option value = "50">50</option>
        <option value = "75">75</option>
        </select> -->
      </label>
      <!-- At the end of the project timer, go directly to exit interview? or break first -->
      <input type="submit" name="" value="Submit">
    </form>
    <a href="/saltbae">Cancel</a>
  </body>
</html>
