<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>New</h1>
    <form class="" action="/saltbae" method="POST">
      <label for="name">Name:<input type="text" name="name" value="project name"></label>
      <label for="time">Time:<input type="text" name="time" value="25 mins"></label>
      <input type="submit" name="" value="Submit">
    </form>
    <a href="/saltbae">Cancel</a>
  </body>
</html>
