<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
    <link rel="stylesheet" href="/public/styles/style.css">
  </head>
  <body>
    <div class="container">
    <h1>New</h1>
    <form action="/saltbae" method="post" class="new-project">
      <input type="text" name="name" value="Project"> <br>
      <input type="text" name="timer" value="25"> <br>
      <input type="submit" value="Submit" />
    </form>
    <a href="/saltbae">Cancel</a>
    </div>
  </body>
</html>
