<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%=project.name%><br>
        <%=project.timer%>
        <nav>
          <a href="/saltbae/<%=id%>/edit">Edit</a><br>
          <a href="/saltbae">Back to Index</a>
        </nav>
    </body>
</html>
